<mat-toolbar color="primary" >
  <span>E-Commerce Application</span>
  <span class="space-buttons"></span>
  <button mat-raised-button color="primary" *ngIf="isLoggedIn()" routerLink="/login">LogIn</button>
  <button mat-raised-button color="warn" *ngIf="isLoggedOut()" (click)="logout()">LogOut</button>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="!isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
    <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/addNewProduct">Add New Product</button>
    <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/showProductDetails">Show Product Details</button>
</mat-toolbar>